.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem;
    display: flex;
    align-items: center;
    
    &-img {
        width: 10rem;
        height: 100%;
        transform: rotate(-20deg);
        transform-origin: left;
    }
    
    &-paragraph {
        font-family: 'Great Vibes', cursive;
        font-size: size(xl) + 1rem;
        color: color(primary); 
        margin-left: -1rem;
        font-weight: bolder;
        
        @include response(sm) {
        display: none;
        }
    }
}
